.services {
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

.services-table th, .services-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.services-table th {
    background-color: #5fd1ec;
    color: #fff;
}

.services-table tr:nth-child(even) {
    background-color: #454f5a;
}

.services-table img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Merged cell styling */
.table-header {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}
