.services {
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

.services-table th, .services-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.services-table th {
    background-color: #5fd1ec;
    color: #fff;
}

.services-table tr:nth-child(even) {
    background-color: #454f5a;
}

.services-table img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}


/* Merged cell styling */
.table-header {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}

.scroll-button {
    background-color: #5fd1ec; /* Match the website's primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center; 
    margin-top: 20px;
}

.scroll-button:hover {
    background-color: #0077b5; /* Darker shade for hover effect */
}
